.email-box{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 40%;
    border: 5px solid #000;
    padding: 10px;
}